.hiader__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.header__nav-list {
  display: flex;
  gap: 80px;
}

.header__nav-link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: gray;
  padding: 20px 0;
}

.header__nav-link:hover {
  color: dodgerblue;
}